<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="UTF-8"/> <!--최종 HTML 문서의 <head>에만 선언-->

        <!-- 반응형(모바일) -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- 기본 타이틀 -->
        <title>PhotoProject</title>

        <!-- 공통 CSS -->
        <link rel="stylesheet" th:href="@{/css/app.css}"/>

        <!-- 공통 JS-->
        <script th:src="@{/js/app.js}" defer></script>
    </head>
</html>